.button {
  @apply font-semibold focus:outline-none whitespace-nowrap;
  transition: all 150ms ease;
  transform: translateZ(0); /* GPU acceleration */

  &.radius-round {
    @apply rounded-md;
  }

  &.radius-circle {
    @apply rounded-full;
  }

  &.radius-none {
    @apply rounded-none;
  }
}

.button:active:not(:disabled) {
  transform: scale(0.97);
}
