.toast {
  @apply fixed z-40;
}

/* react-toastify progress bar styling */
.Toastify__progress-bar {
  height: 2px !important;
  opacity: 0.3 !important;
}

.Toastify__toast {
  @apply relative overflow-hidden;
}

.Toastify__progress-bar--success {
  background: #10b981 !important;
}

.Toastify__progress-bar--error {
  background: #ef4444 !important;
}

.Toastify__progress-bar--warning {
  background: #f59e0b !important;
}

.Toastify__progress-bar--info {
  background: #3b82f6 !important;
}
